<footer class="bg-primary py-5 text-secondary position-relative ">
  <div class="col-md-12 level-up-line position-absolute">
    <img src="assets/images/home/levelup.png" class="w-100" alt="">
  </div>
  <div class="container">
    <div class="row border-bottom border-secondary">
      <div class="col-md-3">
        <div class="text-center">
          <img src="assets/images/footer/logo.png" class="w-100 bg-white" alt="level up">

        </div>
      </div>
      <div class="col-md-3">
        <ul>
          <li routerLink="/home" routerLinkActive="active"><a>{{'_Home' | translate}}    </a></li>
          <li [ngClass]="router.url.includes('pricing')? 'active' : ''"><a class="text-secondary"
                                                                           [href]=" baseUrl + 'pricing/#/pricing/site/1'">Pricing</a>
          </li>
          <li [ngClass]="router.url.includes('events')? 'active' : ''"><a class="text-secondary"
                                                                          [href]=" baseUrl + 'events/#/events'">Events</a>
          </li>
          <li [ngClass]="router.url.includes('schedule')? 'active' : ''"><a class="text-secondary"
                                                                            [href]=" baseUrl + 'schedule/#/schedule/site/1'">Schedule</a>
          </li>
          <li [ngClass]="router.url.includes('instructors')? 'active' : ''"><a class="text-secondary"
                                                                               [href]=" baseUrl + 'instructors/#/instructors/site/1'">Instructors</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li routerLink="/contact-us" routerLinkActive="active"><a>{{'_ContactUs' | translate}}</a></li>
          <li routerLink="/about-us" routerLinkActive="active"><a>{{'_AboutUs' | translate}}</a></li>
          <li [ngClass]="router.url.includes('terms')? 'active' : ''"><a class="text-secondary"
                                                                         [href]=" baseUrl + 'terms/#/terms'">{{'_TermsConditions' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class=" text-secondary  ">
          <div class="d-flex social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-whatsapp"></i>
          </div>
        </div>
        <div class="">
          <div><span>Tel: +971 554 571 319</span> </div>
          <div><span class="mx-2">Fax: +971 554 571 319</span></div>
          <div><span>Email: support@levelup.com</span></div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <span>Copyright 2020 All Right Reserved</span>
      </div>

    </div>
  </div>

</footer>
